###################
### Application ###
###################

APPLICATION=./

###############
### Backend ###
###############

BACKEND_PORT=8080

################
### Database ###
################

DATABASE_DB=esport_schedule
DATABASE_USER=esport_schedule
DATABASE_PASSWORD=esport_schedule
DATABASE_ROOT_PASSWORD=root
DATABASE_PORT=3306